body{
    margin: 0;
    padding: 0;
}

.board{
    position: absolute;
    border: 8px solid black;
    top: 10vh;
    left: 10vw;
    min-width: 80vw;
    min-height: 80vh;
}

.row{
    position: absolute;
    display: flex;
    border: 1px solid black;
}

.south{
    flex-direction: row-reverse;
    min-width: 67.16vw;
    min-height: 20vh;
    bottom: 0;
    right: 0;

}

.north{
    flex-direction: row;
    min-width: 67.16vw;
    min-height: 20vh;
    top: 0;
    left: 0;

}

.west{
    flex-direction: column-reverse;
    min-width: 12.79vw;
    min-height: 59.93vh;
    left: 0;
    bottom: 0;
}

.east{
    flex-direction: column;
    min-width: 12.79vw;
    min-height: 59.93vh;
    top: 0;
    right: 0;
  

}


.spot{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.south .spot{
    border: 1px solid blue;
    border-bottom: 0;
    flex: 1;
}

.south .end{

flex: 1.415;


}

.north .spot{
    border: 1px solid red; 
    border-top: 0;
    flex: 1;
}

.north .end{

    flex: 1.415;
    
    
    }


.west .spot{
    border: 1px solid gold;
    border-bottom: 0;
    flex: 1;
    }

.west .end{

    flex: 1.54;
        
        
        }

.east .spot{
    border: 1px solid forestgreen;
    border-bottom: 0;
    flex: 1;
        }
    
.east .end{
    
    flex: 1.54;
            
            
            }

.die{
    position: absolute;
    top: 39vh;
    left: 44vw;
    min-width: 13vw;
    max-width: 13vw;

}

.die img{
    width: 100%;
}

.roll{
    position: absolute;
    font-size: 40px;
    z-index: 10;
    top: 49vh;
    left: 49.5vw;
}

.player{
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
    min-width: 25px;
    max-width: 50px;
    min-height: 15px;
    max-height: 30px;
}